body
{
    background-color: rgb(226, 242, 255);
}

.title
{
    color: rgb(80, 182, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 40px;
}

.student-connect-button
{
    fill: orange;
    color: orange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    vertical-align: middle;
}

.styled {
    border: 5;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(35, 35, 35);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(181, 229, 255);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(148, 217, 255);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.copyright-txt
{
    font-family: 'Segoe UI', Impact, Geneva, Verdana, sans-serif;
    color: rgb(80, 182, 255);
}